<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Auth0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ '/home' ]">Home</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated()" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ '/protected' ]">Protected</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button *ngIf="!authService.isAuthenticated()" (click)="authService.login()" type="button" class="btn btn-outline-primary btn-sm">Login</button>
      <button *ngIf="authService.isAuthenticated()" (click)="authService.logout()" type="button" class="btn btn-outline-primary btn-sm">Logout</button>
    </span>
  </div>